In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
type(df['age'])

pyspark.sql.column.Column

In [7]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [10]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [11]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [16]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [18]:
df.withColumn('new_stuff', df['age']+2).show()

+----+-------+---------+
| age|   name|new_stuff|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       32|
|  19| Justin|       21|
+----+-------+---------+

In [19]:
df.createOrReplaceTempView('people')

In [20]:
results = spark.sql("SELECT * FROM people")

In [21]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [22]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [23]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+